/*
==================================================================
COMMON STYLES
==================================================================
*/
:root {
    --a: #111;
    --b: #222;
    --c: #333;
    --d: #444;
    --e: #555;
    --f: #666;
    --g: #777;
    --h: #888;
    --accent-bright: hotpink;
    --accent-pale: pink;
}

.rubik-font {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

::selection {
    background-color: var(--accent-pale);
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    color: white;
    transition: background-color 0.5s ease;
    transition: color 0.5 ease;
    padding: 15px;
    background-color: #353535;
    font-size: 15px;
}

main {
    text-align: center;
}

h1, p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--accent-bright);
}

table, th, td {
    border: 1px solid var(--e);
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

th, tr:hover {
    background-color: var(--c);
}

/*
==================================================================
HEADER.HTML
==================================================================
*/
header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: var(--a);
    border-bottom: 1px solid var(--e);
}
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo h1 {
    font-size: 24px;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
}
.header-right button {
    background: none;
    border-radius: 8px;
    border: 1px solid var(--e);
    color: var(--h);
    cursor: pointer;
    font-size: 16px;
    height: 32px;
    width: 32px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.header-right button:hover {
    background-color: var(--b);
    border-color: var(--accent-bright);
}
.avatar {
    border-radius: 16px;
}
.dropdown a {
    display: block;
    text-decoration: none;
}
.dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    border-radius: 8px;
    background-color: var(--a);
    transition: opacity 0.5s ease, box-shadow 2s ease;
}
.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 15px 70px var(--accent-bright);
}

/*
==================================================================
FOOTER.HTML
==================================================================
*/
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    color: var(--h);
}

/*
==================================================================
DARK / LIGHT MODE
==================================================================
*/
/* Please can someone add the styles for dark and light mode I don't like CSS enough to do it :)*/
.dark-mode {
    background-color: #353535;
    color: white;
}
.dark-mode a{
    color: white;
}
.light-mode {
    background-color: white;
    color: var(--a);
}
.light-mode a{
    color: var(--accent-bright);
}

/*
==================================================================
LOGIN.PHP, SIGNUP.PHP, RECOVERPASSWORD.PHP AND REREGISTERPASSWORD.PHP
==================================================================
*/
.form {
    color: white;
    text-align: center;
    width: 20%;
    margin: auto;
    border-radius: 10px;
    padding: 30px;
    background-color: var(--a);
    border-bottom: 1px solid var(--e);
}

.form input {
    width: 80%;
}

.form input[type="submit"] {
    color: white;
    background-color: var(--accent-bright);
    width: 50%;
    border-radius: 8px;
    font-weight: bold;
    padding: 4px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.form input[type="submit"]:hover {
    background-color: var(--accent-pale);
    cursor: pointer;
}

.form input:focus {
    outline-color: var(--accent-bright);
    outline-style: solid;
    transition: outline-color 0.3s ease;
}

.form select:focus {
    outline-color: var(--accent-bright);
    outline-style: solid;
    transition: outline-color 0.3s ease;
}

/*
==================================================================
FEEDBACK.PHP
==================================================================
*/
.feedback-header {
    display: flex;
    gap: 16px;
    align-items: center;
}
.feedback-header button {
    background-color: var(--accent-bright);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    padding: 8px;
    transition: background-color 0.3s ease;
}
.feedback-header button:hover {
    background-color: var(--accent-pale);
    cursor: pointer;
}
.feedback-main {
    margin: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    text-align: left;
}
.feedback-comment {
    background-color: var(--a);
    border-radius: 8px;
    border: 1px solid var(--e);
    color: var(--h);
    flex-grow: 1;
    font-size: 16px;
    padding: 8px;
    transition: outline-color 1s ease;
}
.feedback-comment:focus {
    border-color: var(--accent-bright);
    outline-style: solid;
}
.feedback-button {
    background-color: var(--accent-bright);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    padding: 8px;
    width: 300px;
    transition: background-color 1s ease;
}
.feedback-button:hover {
    background-color: var(--accent-pale);
    cursor: pointer;
}

.comment {
    border-radius: 8px;
    border: 1px solid var(--e);
}
.comment-header {
    padding: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid var(--e);
    background-color: var(--c);
}
.comment-main {
    border-radius: 8px;
    padding: 16px;
}


/*
==================================================================
INDEX.PHP
==================================================================
*/
.index-header {
    display: flex;
    gap: 16px;
    align-items: center;
}
.index-header button {
    background-color: var(--accent-bright);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    padding: 8px;
    transition: background-color 0.3s ease;
}
.index-header button:hover {
    background-color: var(--accent-pale);
    cursor: pointer;
}
.index-main {
    margin: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    text-align: left;
}
.search-bar {
    background-color: var(--a);
    border-radius: 8px;
    border: 1px solid var(--e);
    color: var(--h);
    flex-grow: 1;
    font-size: 16px;
    padding: 8px;
    transition: outline-color 1s ease;
}
.search-bar:focus {
    border-color: var(--accent-bright);
    outline-style: solid;
}

/*
==================================================================
PROFILE.PHP
==================================================================
*/
.profile-content {
    display: flex;
    text-align: left;
    background-color: var(--a);
    color: white;
}
.user-picture {
    padding: 10px;
    flex: 1;
    border-right: 1px solid white;
}
.user-description {
    padding: 10px;
    flex: 1;
    border-right: 1px solid white;
}
.user-data {
    padding: 10px;
    flex: 1;
}
.edit-profile {
    display: flex;
    background-color: var(--a);
    border-top: 1px solid white;
    border-bottom: 1px solid var(--e);
    color: white;
}
.change-picture {
    padding: 10px;
    flex: 1;
    border-right: 1px solid white;
}
.edit-description {
    padding: 10px;
    flex: 1;
    border-right: 1px solid white;
}
.edit-data {
    padding: 10px;
    flex: 1;
}
.profile-button {
    background-color: var(--accent-bright);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    padding: 8px;
    width: 150px;
    transition: background-color 1s ease;
}
.profile-button:hover {
    background-color: var(--accent-pale);
    cursor: pointer;
}

/*
==================================================================
SETTINGS.PHP
==================================================================
*/
.settings {
    text-align: center;
    width: 33%;
    margin: auto;
    border-radius: 10px;
    padding: 30px;
    background-color: var(--a);
    border-bottom: 1px solid var(--e);
}
.deletion-form {
    color: white;
    text-align: center;
    width: 33%;
    margin: auto;
    border-radius: 10px;
    padding: 30px;
    background-color: var(--a);
    border-bottom: 1px solid var(--e);
    visibility: hidden;
    opacity: 0;
    box-shadow: 2px 2px 5px var(--a);
    transition: opacity 0.5s ease;
}

.deletion-form button {
    color: white;
    background-color: var(--accent-bright);
    width: 30%;
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.deletion-form button:hover {
    background-color: var(--accent-pale);
    cursor: pointer;
}

.deletion-form input:focus {
    outline-color: var(--accent-bright);
    outline-style: solid;
    transition: outline-color 0.3s ease;
}

.deletion-form select:focus {
    outline-color: var(--accent-bright);
    outline-style: solid;
    transition: outline-color 0.3s ease;
}