/* ---------- */
/* EVERYWHERE */
/* ---------- */

body {
    background-color: #333;
    color: #eee;
    font-family: "Rubik", sans-serif;
    margin: 0;
}

.rubik-font {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

::selection {
    background-color: deeppink;
}

/* ------ */
/* HEADER */
/* ------ */

header {
    background-color: #111;
    border-bottom: 1px solid #666;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.header-box {
    align-items: center;
    display: flex;
    gap: 16px;
}

.header-logo {
    align-items: center;
    color: inherit;
    display: flex;
    gap: 8px;
    text-decoration: none;
}

.header-logo:hover {
    text-decoration: underline;
}

.header-logo-text {
    font-weight: bold;
    margin: 0;
}

.header-button {
    background-color: #222;
    border: none;
    border-radius: 8px;
    color: inherit;
    height: 32px;
    width: 32px;
}

.header-button:hover {
    background-color: #333;
}

.header-button-pointer {
    cursor: pointer;
}

.header-button-badge {
    background-color: deeppink;
    border-radius: 4px;
    padding: 2px 4px;
    position: absolute;
    right: -4px;
    top: -4px;
}

.header-profile-picture {
    border-radius: 50%;
}

.header-dropdown {
    display: inline-block;
    position: relative;
}

.header-dropdown-content {
    background-color: #333;
    border-radius: 8px;
    display: none;
    padding: 8px;
    position: absolute;
    right: 0;
    width: 128px;
    z-index: 1;
}

.header-dropdown-content-wide {
    width: 256px;
}

.header-dropdown-content button {
    background-color: #444;
    border: none;
    border-radius: 8px;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    padding: 8px;
}

.header-dropdown-content button:hover {
    background-color: #555;
}

.header-dropdown:hover .header-dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* ---- */
/* MAIN */
/* ---- */

main {
    background-color: #222;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 16px 10%;
    padding: 16px;
}

main .title {
    margin: 0;
    text-align: center;
}

main table, main th, main td {
    border: 1px solid #666;
    border-collapse: collapse;
}

/* ------ */
/* FOOTER */
/* ------ */

footer {
    background-color: #111;
    border-top: 1px solid #666;
    display: flex;
    gap: 32px;
    justify-content: center;
    padding: 16px;
}

footer p {
    margin: 0;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
